.moviesGrid {
    display:grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap:40px;
    padding: 40px;
    justify-content: center;
    margin-top: 30px;
}

.moviesFilterContainer {
    margin-top: 30px; /* Ajusta el margen superior según tus necesidades */
}

@media (max-width:560px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}